/* Coolors Exported Palette - https://coolors.co/731dd8-b10f2e-ffafcc-e0ca3c-49dcb1 */

/* CSS HEX */
--french-violet: #731dd8ff;
--madder: #b10f2eff;
--carnation-pink: #ffafccff;
--citrine: #e0ca3cff;
--turquoise: #49dcb1ff;

/* CSS HSL */
--french-violet: hsla(268, 76%, 48%, 1);
--madder: hsla(349, 84%, 38%, 1);
--carnation-pink: hsla(338, 100%, 84%, 1);
--citrine: hsla(52, 73%, 56%, 1);
--turquoise: hsla(162, 68%, 57%, 1);

/* SCSS HEX */
$french-violet: #731dd8ff;
$madder: #b10f2eff;
$carnation-pink: #ffafccff;
$citrine: #e0ca3cff;
$turquoise: #49dcb1ff;

/* SCSS HSL */
$french-violet: hsla(268, 76%, 48%, 1);
$madder: hsla(349, 84%, 38%, 1);
$carnation-pink: hsla(338, 100%, 84%, 1);
$citrine: hsla(52, 73%, 56%, 1);
$turquoise: hsla(162, 68%, 57%, 1);

/* SCSS RGB */
$french-violet: rgba(115, 29, 216, 1);
$madder: rgba(177, 15, 46, 1);
$carnation-pink: rgba(255, 175, 204, 1);
$citrine: rgba(224, 202, 60, 1);
$turquoise: rgba(73, 220, 177, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-right: linear-gradient(90deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-bottom: linear-gradient(180deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-left: linear-gradient(270deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-top-right: linear-gradient(45deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-bottom-right: linear-gradient(135deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-top-left: linear-gradient(225deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-bottom-left: linear-gradient(315deg, #731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);
$gradient-radial: radial-gradient(#731dd8ff, #b10f2eff, #ffafccff, #e0ca3cff, #49dcb1ff);